/**********
    Confirms
***********/
.confirm {
    padding: 1rem 1.5rem;
}
.confirm .modal-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    color: #3C3C3C;
    font-size: 25px;
    font-weight: bold;
}
.confirm .modal-title .modal-img {
    width: 20%;
    height: auto;
    margin-right: 1.5rem;
}
.confirm .modal-body {
    text-align: center;
    color: #3C3C3C;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.confirm .modal-footer {
    display: flex;
    justify-content: center;
}

.confirm-success .text-primary {
    color: #47943c !important;
}
.confirm-success .text-secondary {
    color: #5d5d5d !important;
}
.confirm-success .btn-secondary {
    color: #7B7B7B;
    background-color: #DADADA;
    border-color: #DADADA;
}
.confirm-success .btn-secondary:active, .confirm-success .btn-secondary:focus {
    color: #5d5d5d !important;
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0 !important;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.459) !important;
}
.confirm-success .btn-primary {
    color: white;
    background-color: #47943c;
    border-color: #47943c;
}
.confirm-success .btn-primary:active, .confirm-success .btn-primary:focus {
    color: white !important;
    background-color: #75a56f !important;
    border-color: #75a56f !important;
    box-shadow: 0 0 0 0.2rem rgba(151, 213, 143, 0.541) !important;
}

.confirm-error .text-primary {
    color: #882929 !important;
}
.confirm-error .text-secondary {
    color: #5d5d5d !important;
}
.confirm-error .btn-secondary {
    color: #7B7B7B;
    background-color: #DADADA;
    border-color: #DADADA;
}
.confirm-error .btn-secondary:active, .confirm-error .btn-secondary:focus {
    color: #5d5d5d !important;
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0 !important;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.459) !important;
}
.confirm-error .btn-primary {
    color: white;
    background-color: #ff8585;
    border-color: #ff8585;
}
.confirm-error .btn-primary:active, .confirm-error .btn-primary:focus {
    color: white !important;
    background-color: #d64747 !important;
    border-color: #d64747 !important;
    box-shadow: 0 0 0 0.2rem rgba(214, 71, 71, 0.383) !important;
}

.confirm-warning .text-primary {
    color: #db9524 !important;
}
.confirm-warning .text-secondary {
    color: #5d5d5d !important;
}
.confirm-warning .btn-secondary {
    color: #7B7B7B;
    background-color: #DADADA;
    border-color: #DADADA;
}
.confirm-warning .btn-secondary:active, .confirm-warning .btn-secondary:focus {
    color: #5d5d5d !important;
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0 !important;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.459) !important;
}
.confirm-warning .btn-primary {
    color: white;
    background-color: #ffaf2d;
    border-color: #ffad2a;
}
.confirm-warning .btn-primary:active, .confirm-warning .btn-primary:focus {
    color: white !important;
    background-color: #db9524 !important;
    border-color: #db9524 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 173, 42, 0.589) !important;
}

.confirm-info .text-primary {
    color: #2664b6 !important;
}
.confirm-info .text-secondary {
    color: #5d5d5d !important;
}
.confirm-info .btn-secondary {
    color: #7B7B7B;
    background-color: #DADADA;
    border-color: #DADADA;
}
.confirm-info .btn-secondary:active, .confirm-info .btn-secondary:focus {
    color: #5d5d5d !important;
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0 !important;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.459) !important;
}
.confirm-info .btn-primary {
    color: white;
    background-color: #358dff;
    border-color: #358dff;
}
.confirm-info .btn-primary:active, .confirm-info .btn-primary:focus {
    color: white !important;
    background-color: #2664b6 !important;
    border-color: #2664b6 !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 100, 182, 0.513) !important;
}
/**********
    Alert
***********/
.modal-dialog .modal-content.alert {
  background-color: white;
  border-radius: 7px;
}
.modal-dialog .modal-content.alert .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0px;
  width: 5%;
  height: auto;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #3C3C3C;
  text-align: center;
}
.modal-dialog .modal-content.alert .modal-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  color: #3C3C3C;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.modal-dialog .modal-content.alert .modal-title .modal-img {
  width: 20%;
  height: auto;
  margin-right: 1.5rem;
}
.modal-dialog .modal-content.alert .modal-body {
  text-align: center;
  color: #3C3C3C;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal-dialog .modal-content.alert .modal-footer {
  display: flex;
  justify-content: center;
}

.alert-success .text-primary {
  color: #47943c !important;
}
.alert-success .text-secondary {
  color: #5d5d5d !important;
}
.alert-success .btn-primary {
  color: white;
  background-color: #47943c;
  border-color: #47943c;
}
.alert-success .btn-primary:active, .alert-success .btn-primary:focus {
  color: white !important;
  background-color: #75a56f !important;
  border-color: #75a56f !important;
  box-shadow: 0 0 0 0.2rem rgba(151, 213, 143, 0.541) !important;
}

.alert-error .text-primary {
  color: #882929 !important;
}
.alert-error .text-secondary {
  color: #5d5d5d !important;
}
.alert-error .btn-primary {
  color: white;
  background-color: #d64747;
  border-color: #d64747;
}
.alert-error .btn-primary:active, .alert-error .btn-primary:focus {
  color: white !important;
  background-color: #882929 !important;
  border-color: #882929 !important;
  box-shadow: 0 0 0 0.2rem rgba(214, 71, 71, 0.383) !important;
}

.alert-warning .text-primary {
  color: #db9524 !important;
}
.alert-warning .text-secondary {
  color: #5d5d5d !important;
}
.alert-warning .btn-primary {
  color: white;
  background-color: #ffaf2d;
  border-color: #ffad2a;
}
.alert-warning .btn-primary:active, .alert-warning .btn-primary:focus {
  color: white !important;
  background-color: #db9524 !important;
  border-color: #db9524 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 173, 42, 0.589) !important;
}

.alert-info .text-primary {
  color: #2664b6 !important;
}
.alert-info .text-secondary {
  color: #5d5d5d !important;
}
.alert-info .btn-primary {
  color: white;
  background-color: #358dff;
  border-color: #358dff;
}
.alert-info .btn-primary:active, .alert-info .btn-primary:focus {
  color: white !important;
  background-color: #2664b6 !important;
  border-color: #2664b6 !important;
  box-shadow: 0 0 0 0.2rem rgba(38, 100, 182, 0.513) !important;
}
.modal-dialog .modal-content.form-alert {
  background-color: white;
  border-radius: 7px;
}
.modal-dialog .modal-content.form-alert .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0px;
  width: 5%;
  height: auto;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #3C3C3C;
  text-align: center;
}
.modal-dialog .modal-content.form-alert .modal-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.2rem;
  color: #3C3C3C;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.modal-dialog .modal-content.form-alert .modal-title .modal-img {
  width: 20%;
  height: auto;
  margin-right: 1.5rem;
}
.modal-dialog .modal-content.form-alert .modal-body {
  text-align: center;
  color: #3C3C3C;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal-dialog .modal-content.form-alert .modal-footer {
  display: flex;
  justify-content: center;
}

.form-alert-success .text-primary {
  color: #47943c !important;
}
.form-alert-success .text-secondary {
  color: #5d5d5d !important;
}
.form-alert-success .btn-primary {
  color: white;
  background-color: #47943c;
  border-color: #47943c;
}
.form-alert-success .btn-primary:active, .form-alert-success .btn-primary:focus {
  color: white !important;
  background-color: #75a56f !important;
  border-color: #75a56f !important;
  box-shadow: 0 0 0 0.2rem rgba(151, 213, 143, 0.541) !important;
}

.form-alert-error .text-primary {
  color: #882929 !important;
}
.form-alert-error .text-secondary {
  color: #5d5d5d !important;
}
.form-alert-error .btn-primary {
  color: white;
  background-color: #d64747;
  border-color: #d64747;
}
.form-alert-error .btn-primary:active, .form-alert-error .btn-primary:focus {
  color: white !important;
  background-color: #882929 !important;
  border-color: #882929 !important;
  box-shadow: 0 0 0 0.2rem rgba(214, 71, 71, 0.383) !important;
}

.form-alert-warning .text-primary {
  color: #db9524 !important;
}
.form-alert-warning .text-secondary {
  color: #5d5d5d !important;
}
.form-alert-warning .btn-primary {
  color: white;
  background-color: #ffaf2d;
  border-color: #ffad2a;
}
.form-alert-warning .btn-primary:active, .form-alert-warning .btn-primary:focus {
  color: white !important;
  background-color: #db9524 !important;
  border-color: #db9524 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 173, 42, 0.589) !important;
}

.form-alert-info .text-primary {
  color: #2664b6 !important;
}
.form-alert-info .text-secondary {
  color: #5d5d5d !important;
}
.form-alert-info .btn-primary {
  color: white;
  background-color: #358dff;
  border-color: #358dff;
}
.form-alert-info .btn-primary:active, .form-alert-info .btn-primary:focus {
  color: white !important;
  background-color: #2664b6 !important;
  border-color: #2664b6 !important;
  box-shadow: 0 0 0 0.2rem rgba(38, 100, 182, 0.513) !important;
}